extends layout

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Matthew S. Turner

        p Full Stack JavaScript Developer


        .about-bio

          p I'm a former business owner and energy consultant with a creative attitude to problem solve.  In my previous position at FOREnergy, I solved client's problems by tailoring our service and products to meet their needs.  Some clients are looking to stabalize rising energy costs.  Other clients feel that their home's temperature is uncommfortable.  Listening to each clients problem and matcing them with a specific solution to solve it is the key to creating a life long client.
          
          p I owned and operated a residential cleaning service for 14 years.  In that time, I grew my franchise to 3 largest in the nation.  The key to our success was our people.  I always took the approach that my employees were family and that families share.  I introduced a profit sharing model based on client retention and recruitment.  This lead to an annual growth rate of 5% - 10%.  When I sold the business in 2018, our annual revenue was 1.4 million per year with a profit margin of 13%.

          p I'm looking forward to the opportunity to help your organization solve it's challenges.  Thank you for your consideration.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 480-567-4900
          li
            a(href="mailto:matthew.turner.480@gmail.com") matthew.turner.480@gmail.com

        a.btn-link(href="https://www.linkedin.com/in/matthew-turner-a62b417/", target="_blank") LinkedIn
        a.btn-link(href="https://github.com/msturn2", target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back