extends layout

block content

  article.portfolio-intro

    h1 My Portfolio

    p This project uses my skills with Static Node.js and Express to build a Portfolio Site to display my projects.  Click on the images below to view an individual project.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        
        .cell.grow
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.images.thumbnail}`, alt=`${project.project_name}`)
            h5= project.project_name

