<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src="../static/images/thumbnail/mstselfie.png", alt="Matthew S. Turner")
        .dev-intro-box

          h5 Matthew S. Turner

          p I am a Full Stack JavaScript developer looking for a company that will utilize my talents by challenging me daily with new programming problems to overcome.  I have been a small business owner; I've worked in Private Lending and I've been an Engergy Consultant as well.  These unique combination of my careers offer any company a skillset second to none.  I've managed a staff of 50+ employees.  I've done B2C and B2B sales.  I've worked closley with Real Estate Investors to fund there investments.  I've managed and cultivated thousands of clients.  Let me show you how I can help your company achieve it's goals.

          a(href="/about", class="btn-link") Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Matthew S. Turner

      block content

  script(src='/static/js/script.js')